### Model Training
#### 1.1. Import Data and Required Packages
Importing Pandas, Numpy, Matplotlib, Seaborn and Warnings Library

In [1]:
# Import relevant Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Libraries for modelling
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

#### Import the CSV Data as Pandas DataFrame

In [2]:
df= pd.read_csv('./data/StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

#### Preparing X & Y variables

In [3]:
X = df.drop(columns=['math score'], axis=1)

In [4]:
X

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75
...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,99,95
996,male,group C,high school,free/reduced,none,55,55
997,female,group C,high school,free/reduced,completed,71,65
998,female,group D,some college,standard,completed,78,77
999,female,group D,some college,free/reduced,none,86,86

In [5]:
y = df['math score']

In [6]:
y.head()

0    72
1    69
2    90
3    47
4    76
Name: math score, dtype: int64

In [7]:
# Create column transformer with 3 types of transformers
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

num_features = X.select_dtypes(exclude='object').columns
cat_features = X.select_dtypes(include="object").columns

num_transformer = StandardScaler()
cat_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", cat_transformer, cat_features),
        ("StandardScaler", num_transformer, num_features),
    ]
)

In [8]:
cat_features

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course'],
      dtype='object')

In [9]:
X = preprocessor.fit_transform(X)

In [10]:
X

array([[ 1.        ,  0.        ,  0.        , ...,  1.        ,
         0.19399858,  0.39149181],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         1.42747598,  1.31326868],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.77010859,  1.64247471],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.12547206, -0.20107904],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.60515772,  0.58901542],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.15336989,  1.18158627]])

In [11]:
X.shape

(1000, 19)

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.shape, X_test.shape

((800, 19), (200, 19))

#### Create an Evaluate function for printing metrics after model training

In [13]:
def evaluate_model(true, pred):
    mae = mean_absolute_error(true, pred)
    mse = mean_squared_error(true, pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(true, pred)
    
    

    return mae, mse, rmse, r2

In [14]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}

list(models.values())[0]

LinearRegression()

In [16]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}

model_list = []
r2_list = []


for i in range(len(models.keys())):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    #making predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    train_mae, train_mse, train_rmse, train_r2 = evaluate_model(y_train, y_train_pred)
    test_mae, test_mse, test_rmse, test_r2 = evaluate_model(y_test, y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    r2_list.append(test_r2)
       

    print('Model Performance for training set')
    print("- Root Mean Squared Error: {:.4f}".format(train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(train_mae))
    print("-R2 Score. {:.4f}".format(train_r2))
    
   

    print("--------------------------------------------------------")

    print('Model Performance for test set')
    print("- Root Mean Squared Error: {:.4f}".format(test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(test_mae))
    print("-R2 Score. {:.4f}".format(test_r2))
   


    print('='*35)
    print("\n")

Linear Regression
Model Performance for training set
- Root Mean Squared Error: 5.3241
- Mean Absolute Error: 4.2674
-R2 Score. 0.8743
--------------------------------------------------------
Model Performance for test set
- Root Mean Squared Error: 5.3966
- Mean Absolute Error: 4.2170
-R2 Score. 0.8803
===================================


Lasso
Model Performance for training set
- Root Mean Squared Error: 6.5938
- Mean Absolute Error: 5.2063
-R2 Score. 0.8071
--------------------------------------------------------
Model Performance for test set
- Root Mean Squared Error: 6.5197
- Mean Absolute Error: 5.1579
-R2 Score. 0.8253
===================================


Ridge
Model Performance for training set
- Root Mean Squared Error: 5.3233
- Mean Absolute Error: 4.2650
-R2 Score. 0.8743
--------------------------------------------------------
Model Performance for test set
- Root Mean Squared Error: 5.3904
- Mean Absolute Error: 4.2111
-R2 Score. 0.8806
===================================


K-Neighbors Regressor
Model Performance for training set
- Root Mean Squared Error: 5.7055
- Mean Absolute Error: 4.5122
-R2 Score. 0.8556
--------------------------------------------------------
Model Performance for test set
- Root Mean Squared Error: 7.2634
- Mean Absolute Error: 5.6590
-R2 Score. 0.7832
===================================


Decision Tree
Model Performance for training set
- Root Mean Squared Error: 0.2795
- Mean Absolute Error: 0.0187
-R2 Score. 0.9997
--------------------------------------------------------
Model Performance for test set
- Root Mean Squared Error: 8.0250
- Mean Absolute Error: 6.3500
-R2 Score. 0.7353
===================================


Random Forest Regressor
Model Performance for training set
- Root Mean Squared Error: 2.3020
- Mean Absolute Error: 1.8380
-R2 Score. 0.9765
--------------------------------------------------------
Model Performance for test set
- Root Mean Squared Error: 5.9353
- Mean Absolute Error: 4.5832
-R2 Score. 0.8552
===================================


XGBRegressor
Model Performance for training set
- Root Mean Squared Error: 0.9087
- Mean Absolute Error: 0.6148
-R2 Score. 0.9963
--------------------------------------------------------
Model Performance for test set
- Root Mean Squared Error: 6.5889
- Mean Absolute Error: 5.0844
-R2 Score. 0.8216
===================================


CatBoosting Regressor
Model Performance for training set
- Root Mean Squared Error: 3.0427
- Mean Absolute Error: 2.4054
-R2 Score. 0.9589
--------------------------------------------------------
Model Performance for test set
- Root Mean Squared Error: 6.0086
- Mean Absolute Error: 4.6125
-R2 Score. 0.8516
===================================


AdaBoost Regressor
Model Performance for training set
- Root Mean Squared Error: 5.8166
- Mean Absolute Error: 4.7395
-R2 Score. 0.8499
--------------------------------------------------------
Model Performance for test set
- Root Mean Squared Error: 6.1193
- Mean Absolute Error: 4.8221
-R2 Score. 0.8461
===================================

In [17]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model name', 'R2_Score']).sort_values(by=["R2_Score"], ascending=False)

                Model name  R2_Score
2                    Ridge  0.880593
0        Linear Regression  0.880319
5  Random Forest Regressor  0.855229
7    CatBoosting Regressor  0.851632
8       AdaBoost Regressor  0.846115
1                    Lasso  0.825320
6             XGBRegressor  0.821589
3    K-Neighbors Regressor  0.783193
4            Decision Tree  0.735348